.timetable-container {
    display: flex;
    margin: 20px;
}

.timetable-left {
    flex: 2;
    margin-right: 20px;
}

.timetable-right {
    flex: 1;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

.timetable-buttons {
    margin-bottom: 20px;
}

.timetable-buttons button {
    padding: 10px;
    margin: 0 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.timetable-buttons button:hover {
    background-color: #5782bb;
    transition: .3s ease;
}

th:nth-child(1), td:nth-child(1) {
    width: 13%;
}

th:nth-child(2), td:nth-child(2) {
    width: 40%;
}

th:nth-child(3), td:nth-child(3) {
    width: 15%;
}

th:nth-child(4), td:nth-child(4) {
    width: 40%;
}

.tooltip {
  position: relative;
  border-bottom: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 165px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
